<h1>Participant List</h1>
<%= form_tag participants_email_path do %>
  <table class="table">
    <tr>
      <th>Participant</th>
      <th>Wish Count</th>
      <th>Send Email</th>
    </tr>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= link_to participant.name, participant_path(participant) %>
          <div><%= participant.email %></div>
        </td>
        <td><%= participant.participant_wishes.size %></td>
        <%= fields_for "participants[]", participant do |p| %>
          <td><%= p.check_box :email, {}%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Email Participants", class: "btn btn-default" %>
<% end %>