<!--                    -->
<!-- participant name -->
<!--                    -->
<div id="participant">
  <h3>Participant</h3>
  <%= @participant.name %>
</div>
<div class="row">
  <div id="participant-wishes" class="col-md-12 col-sm-12 col-xs-12">
    <table class="table">
      <tr>
        <th colspan="3">
          Wishes
      </th>
      </tr>
      <% if @participant.participant_wishes.length == 0 %>
        <tr>
          <td colspan="3">No wishes have been entered yet</td>
        </tr>
      <% end %>
      <!--                    -->
      <!-- participant wishes -->
      <!--                    -->
      <% @participant.participant_wishes.each do |pw| %>
        <tr>
          <td>
            <%= pw.description %>
            <% if @participant_wishes_links["#{pw.id}"] %>
              <% @participant_wishes_links["#{pw.id}"].each do |l| %>
                <div>
                  <a href="<%= l %>" target="_outside"><%= l %></a>
                </div>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_participant_participant_wish_path(@participant, pw) %></td>
          <td><%= link_to 'Delete', [@participant, pw], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<!--                    -->
<!-- add wishes -->
<!--                    -->
<% if @participant.id == @participant_you.id %>
  <div id="participant-add-wish">
    <%= link_to 'Add a wish', new_participant_participant_wish_path(@participant) %>
  </div>
<% end %>