<h3>Edit wish gift</h3>
<%= render "/hint" %>
<%= form_for [@participant, @participant_wish] do |pw| %>
  <div class="form-group">
    <label><%= pw.label :description %></label>
    <%= pw.text_area :description, :required => true, class: "form-control" %>
  </div>
  <%= pw.submit "Submit", class: "btn btn-default" %>
<% end %>