<h3>Add a wish</h3>
<%= render "/hint" %>
<%= form_for([@participant, @participant.participant_wishes.build]) do |pw| %>
  <div class="form-group">
    <label><%= pw.label :description %></label>
    <%= pw.text_area :description, :required => true, class: "form-control" %>
  </div>
  <%= pw.submit "Submit", class: "btn btn-default" %>
<% end %>