<%= render "/header_email" %>
<div style="padding: 20px; background-color: #3a434f; color: white;">
  <div>
    <div>
      Seasons greetings <%= @participant.name %>.
    </div>
    <br>
    <div>
      <div>Your KrisKringle this year is</div>
      <h3 style="color: #55a592;"><%= @participant_assign.name %>!</h3>
    </div>
    <h3 style="color: #f2bf63;">
      Gift price limit
    </h3>
    <div>
      The gift limit this year us approximately <b>$30.00</b>
    </div>
    <h3 style="color: #f2bf63;">
      Add your wishes now!
    </h3>
    <div>
      Click <a style="color: #bbbbbb; text-decoration: underline;" href="http://kriskringle.alienspaces.com?key=<%= @digest %>">here</a> to begin entering your Kris Kringle wishes!
    </div>
    <br>
    <div>
      If the above link does not work navigate to <a style="color: #bbbbbb; text-decoration: underline;"  href="http://kriskringle.alienspaces.com">https://kriskringle.alienspaces.com</a> and enter the below participant key in the field provided to begin entering your Kris Kringle wishes!
    </div>
    <br>
    <h3 style="color: #f2bf63;">
      Your participant key
    </h3>
    <div>
      <b><%= @digest %></b>
    </div>
  </div>
</section>
<%= render "/footer_email" %>