
@import "bootstrap/variables";

@font-face {
  font-family: 'MountainsofChristmas';
  src:font-url('MountainsofChristmas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: asset_url('snowflakes.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #3a434f;
    color: white;
}

h1, h2, h3 {
    font-family: 'MountainsofChristmas', sans-serif;
    color: #f2bf63;
}

/* side decoration - santa */
#side-decoration {
    background-image: asset_url('santa.png');
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 400px;   
}

/* header */
header {
}

/* make all links kinda grey */
a:link,
a:visited,
a:hover,
a:active {
	color: #bbbbbb;
	text-decoration: underline;
}

/* use default font for all input fields */
input {
    font-family: $font-family-base;
}

#header-decoration {
    height: 140px;
    background-image: asset_url('baubles.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
#header-title {
	height: 140px;
    display: table;
    table-layout: fixed;
}
#header-title h1 {
    display:table-cell;
    vertical-align:middle;
    text-align: left;
    font-size: 40pt;
}
#header-account {
	padding: 10px;
}

/* content */
#content {
    min-height: 440px;
}

/* content decoration - christmas tree */
#content-decoration {
    background-image: asset_url('xmastree.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    min-height: 270px;   
}

/* global menu */
#global-menu {
	padding: 10px;
	margin: 0px;
}

/* description */
#description {
	margin-top: 10px;
}

/* participant-greeting */
#participant-kriskringle {
	margin-top: 10px;

}

/* participant assigned */
#participant-assigned h2 {
    color: #55a592;
}

/* participant key */
#participant-key {

}

#hint {
	padding: 10px;
    background-color: #55a592;
}

/* footer */
footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
    color: #bbbbbb;
    text-decoration: underline;
}

#contact-administrator {
    text-align: left;
}
#contact-designer {
    text-align: right;
}
