<footer>
  <div class="row">
    <div id="contact-administrator" class="col-md-6 col-sm-6 col-xs-6">
      <div>Need assistance?</div>
      Contact the <a href="mailto:alienspaces@gmail.com" title="alienspaces@gmail.com">administrator</a>!
    </div>
    <div id="contact-designer" class="col-md-6 col-sm-6 col-xs-6">
      Designed by <a href="mailto:catphuong186@gmail.com" title="catphuong186@gmail.com">Phuong Tran</a>.
    </div>
  </div>
</footer>