<div style="padding: 20px; text-align: center; background-color: #3a434f; color: white;">
  Need assistance? Contact the <a style="color: #bbbbbb; text-decoration: underline;" href="mailto:alienspaces@gmail.com" title="alienspaces@gmail.com">administrator</a>.
</div>