<header>
  <div class="row">
    <div id="header-decoration" class="col-xs-3 col-md-3">
    </div>
    <div id="header-title" class="col-xs-9 col-md-9">
      <h1>Kris Kringle <%= Time.now.strftime('%Y') %></h1>
    </div>
  </div>
</header>