<ul class="list-inline" id="global-menu">
  <li><%= link_to "Home", :root %></li>
  <% if @participant_you %>
    <li><%= link_to "Your wish list", participant_path(@participant_you) %></li>
  <% end %>
  <% if @participant_kriskringle %>
    <li><%= link_to "Your Kris Kringles wish list", participant_path(@participant_kriskringle) %></li>
  <% end %>
</ul>