<!DOCTYPE html>
<html>
  <head>
    <title>AlienspacesKriskringle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <%= render "/header" %>
          <%= render "/menu" %>
          <section id="content">
            <%= yield %>
          </section>
        </div>
        <div class="col-md-5 col-sm-5 hidden-xs">
          <%= render "/side_decoration" %>
        </div>
      </div>
      <%= render "/footer" %>
    </div>
  </body>
</html>